
.icon-note:before { content: '\e800'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-snapchat:before { content: '\f2ab'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
