@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fall {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes leftToRight {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
:root {
  --textColor-: rgb(223, 223, 223);
  --h1Size-: 45px;
  --blueShadow-: 0 0 10px 5px rgb(16, 93, 129);
  --darkShadow-: 0 0 10px 5px rgb(12, 12, 12);
  --h2Size-: 12px;
  --containerBC-: rgba(4, 28, 59, 0.705);
  --membersContainerBC-: rgba(4, 28, 59, 0.815);
  --backgroundColor-: rgb(16, 93, 129);
  --backgroundColorHover-: rgb(58, 158, 204);
  --navBackgroundColor-: rgba(0, 0, 0, 0.363);
  --goldBorderColor-: 7px solid rgb(145, 122, 19);
  --redBorderColor-: 7px solid red;
  --greenBorderColor-: 7px solid green;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--textColor-);
}
body {
  width: 100%;
  height: 1500px;
  /* background-image: url(img/citybg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: black;
  font-family: "Zen Dots", cursive;
  letter-spacing: 2px;
  position: relative;
}
.shadow {
  width: 100%;
  background-image: url(img/citybg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#snow__container {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.flakes__container {
  position: absolute;
  top: 0;
  animation: fall 10s 0s 1 linear forwards;
  padding: 0 50px;
}
.flakes__container img {
  animation: rotate 6s 0s infinite linear forwards,
    leftToRight 6s 0s infinite ease-in-out alternate;
  position: absolute;
}
article {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle,
    rgba(15, 15, 15, 0.959) 0%,
    rgba(0, 0, 0, 0.959) 47%
  );
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 5%;
  padding-right: 5%;
}
header {
  width: 90%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.offSnow {
  position: absolute;
  width: 5%;
  height: 50px;
  align-self: flex-start;
  left: 90%;
  margin-top: 20px;
  background-color: var(--containerBC-);
  box-shadow: var(--blueShadow-);
  border-radius: 10px;
  font-family: "Bree Serif";
  cursor: pointer;
}
.offSnow:hover {
  background-color: var(--backgroundColorHover-);
}
h1 {
  font-size: var(--h1Size-);
}
header img {
  height: 250px;
  filter: drop-shadow(0px 0px 8px grey);
  cursor: pointer;
}
.line {
  width: 90%;
  height: 1px;
  box-shadow: var(--blueShadow-);
  background-color: var(--backgroundColor-);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
nav {
  width: 90%;
  min-height: 50px;
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
  font-size: var(--h2Size-);
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
nav div {
  width: 20%;
  height: 50px;
  box-shadow: var(--blueShadow-);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--navBackgroundColor-);
  font-weight: 700;
  border: solid 1px rgba(18, 71, 141, 0.651);
  padding: 5px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
nav div:hover {
  background-color: var(--backgroundColorHover-);
}

main {
  margin-top: 50px;
  min-height: 800px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  animation: appearance 2s ease-in;
  z-index: 1;
}
.main__page .container h2 {
  text-shadow: 0px 0px 15px rgb(129, 129, 129);
}
.history__main {
  padding: 10%;
  text-align: center;
}
.p__holder {
  background-image: url(img/zwoj.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.p__holder:hover {
  opacity: 0.9;
}
.history__main p {
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  font-family: "Dancing Script", cursive;
}
.aside {
  width: 25%;
  height: 850px;
  padding: 10px;
  box-shadow: var(--blueShadow-);
  background-color: var(--containerBC-);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: "Bree Serif";
  z-index: 1;
}
.aside h3 {
  margin-bottom: 5px;
}
.tiktok__image {
  margin-top: 15px;
  filter: drop-shadow(0 0px 10px rgb(16, 93, 129));
  opacity: 0.6;
  height: 200px;
  width: 80%;
}
.tiktok__image:hover {
  opacity: 1;
  cursor: pointer;
}
.ranking {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}
.ranking div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.ranking {
  font-size: 11px;
}

.silver__ranking {
  width: 30%;
  height: 70px;
  background-color: rgba(192, 192, 192, 0.836);
}
.silver__ranking:hover {
  background-color: rgba(214, 214, 214, 0.904);
}
.gold__ranking {
  width: 30%;
  height: 80px;
  background-color: rgba(187, 159, 0, 0.856);
}
.gold__ranking:hover {
  background-color: rgba(224, 191, 2, 0.918);
}
.bronze__ranking {
  width: 30%;
  height: 50px;
  background-color: rgba(114, 14, 14, 0.842);
}
.bronze__ranking:hover {
  background-color: rgba(143, 11, 11, 0.932);
}

.container {
  font-family: "Bree Serif";
  width: 65%;
  height: 850px;
  font-size: var(--h1Size-);
  background-color: var(--containerBC-);
  box-shadow: var(--blueShadow-);
  z-index: 1;
  border-radius: 10px;
  text-align: center;
  padding: 2%;
}
.news {
  width: 90%;
  min-height: 40%;
  border: 1px solid rgb(170, 170, 170);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.news__baner {
  width: 80%;
}
.news h3 {
  width: 100%;
  height: 20%;
  font-size: 20px;
  color: var(--backgroundColorHover-);
  text-align: left;
  border-bottom: 1px solid var(--backgroundColor-);
}
.news p {
  width: 80%;
  font-size: 15px;
  text-align: left;
  margin-top: 5px;
}
.down,
.up {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  transform: rotate(90deg);
  cursor: pointer;
  align-self: center;
}
.down:hover,
.up:hover {
  background-color: var(--backgroundColorHover-);
}
.squad__members {
  width: 100%;
  height: 300px;
  text-align: center;
  border-top: 10px solid var(--textColor-);
  padding: 5%;
  margin-top: 50px;
  z-index: 1;
}
.gold {
  border: var(--goldBorderColor-);
}
.red {
  border: var(--redBorderColor-);
}
.green {
  border: var(--greenBorderColor-);
}
.squad__members h3 {
  width: 100%;
  margin: 5px;
}
.squad__members ul > li > h4 {
  width: 100%;
  margin: 5px;
}
.squad__members ul > li {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.members__holder {
  background-color: var(--membersContainerBC-);
  padding: 0 10% 2% 10%;
  border-radius: 5%;
  margin-bottom: 50px;
  position: relative;
}
.members__socials {
  width: 10%;
  border: 2px solid var(--textColor-);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ranks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10%;
  width: 100%;
  z-index: 1;
}
.icon__squad {
  margin-top: 30px;
  padding: 20px;
}
.lol {
  width: 40%;
  transition: all 0.5s ease-in-out;
}
.lol:hover {
  transform: scale(1.1);
}
.csgo {
  transition: all 0.5s ease-in-out;
}
.csgo:hover {
  transform: scale(1.1);
}
.showLOL {
  animation: appearance 2s ease-in;
}
.showCSGO {
  animation: appearance 2s ease-in;
}

.opacity {
  opacity: 0.2;
}
.ranks div {
  border-bottom: 2px solid var(--textColor-);
  width: 29%;
  height: 84px;
  margin-top: 30px;
  border-radius: 10%;
}
.csgo__img {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(194, 155, 59, 255);
  padding: 30px;
  border-radius: 20px;
  width: 90%;
}
.lol__img {
  margin-top: 30px;
  padding: 20px;
}
.showLOL img,
.showCSGO img {
  margin-top: 0;
  padding: 0;
  width: 90%;
  height: 80%;
  cursor: pointer;
}
.showLOL img,
.showCSGO img {
  cursor: auto;
}
.left,
.right {
  position: absolute;
  top: 55%;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 45px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
}
.left {
  left: 20%;
}
.right {
  right: 20%;
}

footer {
  width: 90%;
  min-height: 150px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.footer h2 {
  text-align: center;
}
.social {
  width: 100%;
  height: 60px;
  background-color: var(--containerBC-);
  box-shadow: var(--blueShadow-);
  border-radius: 10px;
  padding: 10px;
  font-size: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.social img {
  width: 6%;
  height: 100%;
}
.social__header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}
.social__discord,
.social__tiktok {
  width: 42px;
  height: 100%;
}
.social__discord img,
.social__tiktok img {
  width: 100%;
  height: 100%;
}
.aside__squad {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  height: 400px;
  animation: appearance 3s ease-in;
}
.aside__squad ul {
  list-style-type: none;
  width: 90%;
}
.aside__squad ul > li {
  margin-top: 10px;
}

.hidden {
  display: none;
}
aside {
  font-family: "Bree Serif";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 25vw;
  background-color: var(--navBackgroundColor-);
  border: rgb(6, 41, 87) 15px solid;
  border-radius: 10%;
  padding: 5%;
  width: 50%;
  height: 40%;
  text-align: center;
}
aside p {
  margin-top: 20%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.blur {
  filter: blur(10px);
}
.overflow {
  overflow: hidden;
}
.discord__link {
  text-decoration: none;
}
.discord__yes {
  background-color: green;
  cursor: pointer;
  border-radius: 2%;
}
.discord__no {
  background-color: red;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 2%;
}
.ranking__page img {
  -webkit-box-shadow: 8px 8px 19px -1px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 19px -1px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 19px -1px rgba(66, 68, 90, 1);
}
.aside__discord {
  width: 300px;
  height: 20%;
}
.show__more-games {
  position: absolute;
  top: 30%;
  right: 5%;
  height: 10%;
  cursor: pointer;
  background-color: rgb(145, 122, 19);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bree Serif";
  transition: all 0.5s ease-in-out;
}
.show__more-games:hover {
  transform: scale(1.1);
}

/* MOBILE */
@media only screen and (max-width: 500px) {
  .offSnow {
    position: absolute;
    width: 13%;
    height: 50px;
    align-self: flex-start;
    left: 80%;
    margin-top: 20px;
    background-color: var(--containerBC-);
    box-shadow: var(--blueShadow-);
    border-radius: 10px;
    font-family: "Bree Serif";
    cursor: pointer;
  }
  nav {
    width: 90%;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    font-size: 8px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  nav div {
    width: 30%;
    height: 50px;
    box-shadow: var(--blueShadow-);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--navBackgroundColor-);
    font-weight: 700;
    border: solid 1px rgba(18, 71, 141, 0.651);
    padding: 5px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }
  main {
    flex-wrap: wrap;
  }
  .aside {
    width: 91%;
    height: 442px;
    padding: 10px;
    box-shadow: var(--blueShadow-);
    background-color: var(--containerBC-);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-family: "Bree Serif";
    z-index: 1;
    margin-top: 20px;
  }
  .container {
    font-family: "Bree Serif";
    width: 91%;
    height: 760px;
    font-size: var(--h1Size-);
    background-color: var(--containerBC-);
    box-shadow: var(--blueShadow-);
    z-index: 1;
    border-radius: 10px;
    text-align: center;
    padding: 2%;
  }
  .news__baner {
    width: 100%;
  }
  aside {
    font-family: "Bree Serif";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 6vw;
    background-color: var(--navBackgroundColor-);
    border: rgb(6, 41, 87) 15px solid;
    border-radius: 10%;
    padding: 5%;
    width: 88%;
    height: 35%;
    text-align: center;
  }
  .news p {
    width: 100%;
    font-size: 13px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .ranking__page img {
    width: 90%;
    box-shadow: rgb(66 68 90) 8px 8px 19px -1px;
  }
  .ranking__h2,
  .info__h2,
  .squad__h2 {
    font-size: 30px;
  }
  .ranking__p,
  .info__p {
    font-size: 12px;
  }
  .gallery {
    margin-top: 10px;
  }
  .show__more-games {
    display: none;
  }
  .members__socials {
    width: 30%;
    border: 2px solid var(--textColor-);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .right {
    right: 8%;
  }
  .left {
    left: 8%;
  }
  .lol {
    width: 40%;
    transition: all 0.5s ease-in-out;
  }
  .lol img {
    padding: 0;
    width: 100%;
  }
  .csgo img {
    margin-top: 30px;
    padding: 10px;
    background-color: rgba(194, 155, 59, 255);
    padding: 12px;
    border-radius: 10px;
    width: 100%;
  }
  .ranks div {
    border-bottom: 2px solid var(--textColor-);
    width: 34%;
    height: 60px;
    margin-top: 5px;
    border-radius: 10%;
  }
  .left,
  .right {
    position: absolute;
    top: 67%;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 45px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 2;
  }
}
